In [1]:
import pandas as pd

# Working with Big Data

In the lecture, we worked with a daily dataset of prices since June 2023. 

In this seminar, we'll be visualising a dataset of UK price microdata.

</br>
</br>

# Loading our data

</br>
</br>

First we'll load the prices themselves:

In [2]:
prices_df = pd.read_csv('https://eco-prices-scrapes.s3.eu-west-2.amazonaws.com/teaching/davies_price_data/db_prices.csv')
prices_df.sample(5)

KeyboardInterrupt:

</br></br></br>

We have prices with dates, shop codes, and item identifiers, but we don't yet know what these mean.

Let's load the item info to cross-reference.

In [ ]:
items_df = pd.read_csv('https://eco-prices-scrapes.s3.eu-west-2.amazonaws.com/teaching/davies_price_data/db_item_clean.csv')
items_df

,item_id,description,date_quote_s,date_quote_e,n_obs
0,210101,LARGE LOAF-WHITE-SLICED-800G,198802,200401,36039
1,210102,LARGE LOAF-WHITE-UNSLICED-800G,198802,202409,56048
2,210105,LARGE WHOLEMEAL LOAF-UNSLICED,198802,200301,27161
3,210106,SIX BREAD ROLLS-WHITE/BROWN,198802,202409,65710
4,210107,"BROWN LOAF,400G,SLICED-GRAN",198903,200401,29361
...,...,...,...,...,...
1381,640233,LEISURE CENTRE MEMBERSHIP,200302,201201,17695
1382,640240,LIVERY CHARGES PER WEEK,200802,202409,20235
1383,640243,SOFT PLAY SESSION TIME PERIOD,201802,202409,9280
1384,640244,CLIMBING WALL SESSION,202202,202409,1526
1385,640406,HOTEL 1 NIGHT PRICE,200502,202409,26516

</br></br>

Let's also bring in region info.

In [ ]:
region_df = pd.read_csv("https://eco-prices-scrapes.s3.eu-west-2.amazonaws.com/teaching/davies_price_data/db_region.csv")
region_df

,region_n,region_s,region,country,obs,p_min,p_max,p_mean,p_med,p_sd
0,1,Catalogue collections,Catalogue,NaN,306968,0.12,1999,41.329037,22.00,80.908554
1,2,London,London,England,4475848,0.01,20000,56.248341,4.60,246.010300
2,3,South East,South East,England,5785278,0.01,9499,54.609386,4.90,220.251300
3,4,South West,South West,England,3597289,0.01,6950,50.904106,4.50,201.636340
4,5,East Anglia,East Anglia,England,3204009,0.01,7650,51.067471,4.69,197.143280
5,6,East Midlands,East Midlands,England,2976879,0.01,10250,46.733604,4.07,194.929810
6,7,West Midlands,West Midlands,England,3518149,0.01,7650,43.581417,4.00,172.725430
7,8,Yorkshire & Humber,Yorkshire & Humber,England,3408323,0.01,20895,45.889851,4.29,183.482450
8,9,North West,North West,England,4294065,0.01,9310,42.274700,3.99,174.610350
9,10,North,North,England,2321737,0.01,9222,40.915108,3.99,166.738360
10,11,Wales,Wales,Wales,2216742,0.01,7347,38.699127,3.99,147.970580
11,12,Scotland,Scotland,Scotland,3385786,0.01,7999,42.445091,4.38,168.262510
12,13,Northern Ireland,Northern Ireland,Northern Ireland,1518537,0.01,6995,44.438995,5.00,163.047960

</br></br>

## Merging and cleaning the data

Next, we'll associate item information with the prices data.

In [21]:
full_df = pd.merge(prices_df, items_df[['item_id', 'description']], on='item_id') # merge prices and items
full_df

,quote_date,shop_code,item_id_raw,region,price,indicator_box,item_id,description
0,199108.0,2.0,210101,2.0,0.49000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
1,199007.0,10.0,210101,11.0,0.52000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
2,199007.0,2.0,210101,12.0,0.37000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
3,199811.0,179.0,210101,8.0,0.69000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
4,199108.0,1.0,210101,10.0,0.47000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
...,...,...,...,...,...,...,...,...
46689338,200704.0,441.0,640406,4.0,55.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689339,200701.0,731.0,640406,3.0,85.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689340,201210.0,5074.0,640406,3.0,40.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689341,200812.0,542.0,640406,2.0,45.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689342,202312.0,5084.0,640406,3.0,183.99001,NaN,640406,HOTEL 1 NIGHT PRICE

</br></br>

and format the dates

In [22]:
full_df['quote_date'] = pd.to_datetime(full_df['quote_date'], format='%Y%m') # convert quote_date to datetime, format is yearmonth
full_df

,quote_date,shop_code,item_id_raw,region,price,indicator_box,item_id,description
0,1991-08-01,2.0,210101,2.0,0.49000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
1,1990-07-01,10.0,210101,11.0,0.52000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
2,1990-07-01,2.0,210101,12.0,0.37000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
3,1998-11-01,179.0,210101,8.0,0.69000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
4,1991-08-01,1.0,210101,10.0,0.47000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
...,...,...,...,...,...,...,...,...
46689338,2007-04-01,441.0,640406,4.0,55.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689339,2007-01-01,731.0,640406,3.0,85.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689340,2012-10-01,5074.0,640406,3.0,40.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689341,2008-12-01,542.0,640406,2.0,45.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689342,2023-12-01,5084.0,640406,3.0,183.99001,NaN,640406,HOTEL 1 NIGHT PRICE

</br></br>

# Mapping prices

How was the price of an item of our choice changed over time? Let's find out with Lager as an example

In [32]:
items_df[items_df.description.str.contains('lager', case=False)].sort_values(by=["date_quote_e", "date_quote_s"]) # search for beer in items_df

,item_id,description,date_quote_s,date_quote_e,n_obs
450,310206,LOW ALCOHOL LAGER-4 CANS-SPECI,198903,199801,19517
437,310107,LOW ALCHL LAGER 275-340ML BTL,198903,200001,76309
453,310209,LAGER-BOTTLED-275-340ML,199802,200101,5038
433,310103,DRAUGHT LAGER (PER PINT),198802,200301,110248
447,310203,LAGER-4 CANS 440-500ML,198802,200401,38120
438,310108,LAGER-BTLD-PILS TYPE-275-340ML,199302,200401,79542
454,310210,LAGER 'STUBBIES' 24 PK,200102,200401,3043
455,310211,LAGER 4 BOTTLES (275-340ML),200102,200401,3986
456,310212,LAGER PACK 12 CANS 440-500ML,200102,200401,2308
458,310214,LAGER STUBBIES 4.3-7.5% ABV,200402,200801,4896
457,310213,LAGER 4 CANS- PREMIUM 4.3-7.5%,200402,201101,18288
442,310112,BOTTLE OF LAGER IN NIGHTCLUB,200602,201801,12297
439,310109,LAGER - PINT 3.4-4.2%,200302,202409,113864
440,310110,PREMIUM LAGER - PINT 4.3-7.5%,200302,202409,111762
441,310111,BOTTLED PREMIUM LAGER 4.3-7.5%,200402,202409,107022
459,310215,LAGER 4 BOTTLES- PREMIUM,200402,202409,52612
460,310216,LAGER 10 - 24 CANS (440-500ML),200402,202409,33368
461,310217,LAGER 10-24 BOTTLES 250-330ML,200802,202409,11283

In [38]:
target_item_id = 310109 # LAGER - PINT 3.4-4.2%

df = full_df[full_df['item_id'] == target_item_id] # filter for target item

df

,quote_date,shop_code,item_id_raw,region,price,indicator_box,item_id,description
16363790,2019-12-01,80.0,310109,3.0,2.25,NaN,310109,LAGER - PINT 3.4-4.2%
16363791,2008-09-01,90.0,310109,4.0,2.30,NaN,310109,LAGER - PINT 3.4-4.2%
16363792,2010-08-01,85.0,310109,7.0,2.55,NaN,310109,LAGER - PINT 3.4-4.2%
16363793,2021-08-01,80.0,310109,3.0,2.89,NaN,310109,LAGER - PINT 3.4-4.2%
16363794,2013-01-01,15.0,310109,9.0,2.09,NaN,310109,LAGER - PINT 3.4-4.2%
...,...,...,...,...,...,...,...,...
16477649,2005-09-01,58.0,310109,5.0,2.30,NaN,310109,LAGER - PINT 3.4-4.2%
16477650,2005-11-01,103.0,310109,13.0,1.79,NaN,310109,LAGER - PINT 3.4-4.2%
16477651,2011-11-01,67.0,310109,5.0,3.30,NaN,310109,LAGER - PINT 3.4-4.2%
16477652,2013-09-01,52.0,310109,2.0,2.50,S,310109,LAGER - PINT 3.4-4.2%
16477653,2010-09-01,13.0,310109,11.0,2.40,NaN,310109,LAGER - PINT 3.4-4.2%

</br></br>

We have over 100,000 rows. We need to aggregate our data. 

Let's take an average by year and region.

In [39]:
df['year'] = df['quote_date'].dt.year # extract year from quote_date

df = df.groupby(['year', 'region']).agg({'price': 'median'}).reset_index() # group by year and region_id, aggregate price by mean

/var/folders/07/g_yq2xsn0mvb4xnyvr18jjmw0000gn/T/ipykernel_18475/4011068898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['quote_date'].dt.year # extract year from quote_date

</br></br>

We need some standard id for our data. Let's merge in ONS codes.

In [52]:
region_df.region.unique()

region_codes = {
    2: "UKI",  # London
    3: "UKJ",  # South East
    4: "UKK",  # South West
    5: "UKH",  # East Anglia
    6: "UKF",  # East Midlands
    7: "UKG",  # West Midlands
    8: "UKE",  # Yorkshire & Humber
    9: "UKD",  # North West
    10: "UKC", # North
    11: "UKL", # Wales
    12: "UKM", # Scotland
    13: "UKN"  # Northern Ireland
}

df['id'] = df['region'].map(region_codes) # map region_id to region_code

df[['year', 'id', 'price']].to_csv('beer_prices_by_region.csv', index=False) # save to output.csv

'region_n,region\n1,Catalogue\n2,London\n3,South East\n4,South West\n5,East Anglia\n6,East Midlands\n7,West Midlands\n8,Yorkshire & Humber\n9,North West\n10,North\n11,Wales\n12,Scotland\n13,Northern Ireland\n'

In [42]:
df

     year  region  price
0    2003     2.0  2.360
1    2003     3.0  2.350
2    2003     4.0  2.210
3    2003     5.0  2.250
4    2003     6.0  2.130
..    ...     ...    ...
259  2024     9.0  4.000
260  2024    10.0  3.725
261  2024    11.0  3.950
262  2024    12.0  4.200
263  2024    13.0  5.200

[264 rows x 3 columns]