In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import numpy as np
import os

In [3]:
driver = webdriver.Chrome()
driver.get("https://archive.vogue.com/login")

In [4]:
start_date = pd.to_datetime("1900-01-01")
end_date = pd.to_datetime("1910-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    women_in_suits = pd.DataFrame(results)
print("Search Results Summary:")
print(women_in_suits)

Searching from 1900-01-01 00:00:00 to 1901-01-01 00:00:00
372 results found
Searching from 1901-01-01 00:00:00 to 1902-01-01 00:00:00
311 results found
Searching from 1902-01-01 00:00:00 to 1903-01-01 00:00:00
374 results found
Searching from 1903-01-01 00:00:00 to 1904-01-01 00:00:00
524 results found
Searching from 1904-01-01 00:00:00 to 1905-01-01 00:00:00
578 results found
Searching from 1905-01-01 00:00:00 to 1906-01-01 00:00:00
371 results found
Searching from 1906-01-01 00:00:00 to 1907-01-01 00:00:00
435 results found
Searching from 1907-01-01 00:00:00 to 1908-01-01 00:00:00
428 results found
Searching from 1908-01-01 00:00:00 to 1909-01-01 00:00:00
472 results found
Searching from 1909-01-01 00:00:00 to 1910-01-01 00:00:00
548 results found
Search Results Summary:
   term start_date  count
0  suit 1900-01-01    372
1  suit 1901-01-01    311
2  suit 1902-01-01    374
3  suit 1903-01-01    524
4  suit 1904-01-01    578
5  suit 1905-01-01    371
6  suit 1906-01-01    435
7  suit 1907-01-01    428
8  suit 1908-01-01    472
9  suit 1909-01-01    548

In [5]:
start_date = pd.to_datetime("1911-01-01")
end_date = pd.to_datetime("1930-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    df2 = pd.DataFrame(results)
print("Search Results Summary:")
print(df2)

Searching from 1911-01-01 00:00:00 to 1912-01-01 00:00:00
490 results found
Searching from 1912-01-01 00:00:00 to 1913-01-01 00:00:00
554 results found
Searching from 1913-01-01 00:00:00 to 1914-01-01 00:00:00
811 results found
Searching from 1914-01-01 00:00:00 to 1915-01-01 00:00:00
901 results found
Searching from 1915-01-01 00:00:00 to 1916-01-01 00:00:00
1003 results found
Searching from 1916-01-01 00:00:00 to 1917-01-01 00:00:00
963 results found
Searching from 1917-01-01 00:00:00 to 1918-01-01 00:00:00
963 results found
Searching from 1918-01-01 00:00:00 to 1919-01-01 00:00:00
808 results found
Searching from 1919-01-01 00:00:00 to 1920-01-01 00:00:00
None results found
Searching from 1920-01-01 00:00:00 to 1921-01-01 00:00:00
711 results found
Searching from 1921-01-01 00:00:00 to 1922-01-01 00:00:00
574 results found
Searching from 1922-01-01 00:00:00 to 1923-01-01 00:00:00
599 results found
Searching from 1923-01-01 00:00:00 to 1924-01-01 00:00:00
468 results found
Searching from 1924-01-01 00:00:00 to 1925-01-01 00:00:00
529 results found
Searching from 1925-01-01 00:00:00 to 1926-01-01 00:00:00
444 results found
Searching from 1926-01-01 00:00:00 to 1927-01-01 00:00:00
460 results found
Searching from 1927-01-01 00:00:00 to 1928-01-01 00:00:00
482 results found
Searching from 1928-01-01 00:00:00 to 1929-01-01 00:00:00
524 results found
Searching from 1929-01-01 00:00:00 to 1930-01-01 00:00:00
646 results found
Search Results Summary:
    term start_date   count
0   suit 1911-01-01   490.0
1   suit 1912-01-01   554.0
2   suit 1913-01-01   811.0
3   suit 1914-01-01   901.0
4   suit 1915-01-01  1003.0
5   suit 1916-01-01   963.0
6   suit 1917-01-01   963.0
7   suit 1918-01-01   808.0
8   suit 1919-01-01     NaN
9   suit 1920-01-01   711.0
10  suit 1921-01-01   574.0
11  suit 1922-01-01   599.0
12  suit 1923-01-01   468.0
13  suit 1924-01-01   529.0
14  suit 1925-01-01   444.0
15  suit 1926-01-01   460.0
16  suit 1927-01-01   482.0
17  suit 1928-01-01   524.0
18  suit 1929-01-01   646.0

In [7]:
start_date = pd.to_datetime("1931-01-01")
end_date = pd.to_datetime("1960-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    df3 = pd.DataFrame(results)
print("Search Results Summary:")
print(df3)

Searching from 1931-01-01 00:00:00 to 1932-01-01 00:00:00
723 results found
Searching from 1932-01-01 00:00:00 to 1933-01-01 00:00:00
667 results found
Searching from 1933-01-01 00:00:00 to 1934-01-01 00:00:00
605 results found
Searching from 1934-01-01 00:00:00 to 1935-01-01 00:00:00
683 results found
Searching from 1935-01-01 00:00:00 to 1936-01-01 00:00:00
774 results found
Searching from 1936-01-01 00:00:00 to 1937-01-01 00:00:00
857 results found
Searching from 1937-01-01 00:00:00 to 1938-01-01 00:00:00
788 results found
Searching from 1938-01-01 00:00:00 to 1939-01-01 00:00:00
754 results found
Searching from 1939-01-01 00:00:00 to 1940-01-01 00:00:00
712 results found
Searching from 1940-01-01 00:00:00 to 1941-01-01 00:00:00
834 results found
Searching from 1941-01-01 00:00:00 to 1942-01-01 00:00:00
779 results found
Searching from 1942-01-01 00:00:00 to 1943-01-01 00:00:00
None results found
Searching from 1943-01-01 00:00:00 to 1944-01-01 00:00:00
None results found
Searching from 1944-01-01 00:00:00 to 1945-01-01 00:00:00
None results found
Searching from 1945-01-01 00:00:00 to 1946-01-01 00:00:00
None results found
Searching from 1946-01-01 00:00:00 to 1947-01-01 00:00:00
None results found
Searching from 1947-01-01 00:00:00 to 1948-01-01 00:00:00
None results found
Searching from 1948-01-01 00:00:00 to 1949-01-01 00:00:00
None results found
Searching from 1949-01-01 00:00:00 to 1950-01-01 00:00:00
None results found
Searching from 1950-01-01 00:00:00 to 1951-01-01 00:00:00
None results found
Searching from 1951-01-01 00:00:00 to 1952-01-01 00:00:00
None results found
Searching from 1952-01-01 00:00:00 to 1953-01-01 00:00:00
None results found
Searching from 1953-01-01 00:00:00 to 1954-01-01 00:00:00
None results found
Searching from 1954-01-01 00:00:00 to 1955-01-01 00:00:00
None results found
Searching from 1955-01-01 00:00:00 to 1956-01-01 00:00:00
None results found
Searching from 1956-01-01 00:00:00 to 1957-01-01 00:00:00
None results found
Searching from 1957-01-01 00:00:00 to 1958-01-01 00:00:00
None results found
Searching from 1958-01-01 00:00:00 to 1959-01-01 00:00:00
None results found
Searching from 1959-01-01 00:00:00 to 1960-01-01 00:00:00
None results found
Search Results Summary:
    term start_date  count
0   suit 1931-01-01  723.0
1   suit 1932-01-01  667.0
2   suit 1933-01-01  605.0
3   suit 1934-01-01  683.0
4   suit 1935-01-01  774.0
5   suit 1936-01-01  857.0
6   suit 1937-01-01  788.0
7   suit 1938-01-01  754.0
8   suit 1939-01-01  712.0
9   suit 1940-01-01  834.0
10  suit 1941-01-01  779.0
11  suit 1942-01-01    NaN
12  suit 1943-01-01    NaN
13  suit 1944-01-01    NaN
14  suit 1945-01-01    NaN
15  suit 1946-01-01    NaN
16  suit 1947-01-01    NaN
17  suit 1948-01-01    NaN
18  suit 1949-01-01    NaN
19  suit 1950-01-01    NaN
20  suit 1951-01-01    NaN
21  suit 1952-01-01    NaN
22  suit 1953-01-01    NaN
23  suit 1954-01-01    NaN
24  suit 1955-01-01    NaN
25  suit 1956-01-01    NaN
26  suit 1957-01-01    NaN
27  suit 1958-01-01    NaN
28  suit 1959-01-01    NaN

In [9]:
start_date = pd.to_datetime("1942-01-01")
end_date = pd.to_datetime("1960-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    df4 = pd.DataFrame(results)
print("Search Results Summary:")
print(df4)

Searching from 1942-01-01 00:00:00 to 1943-01-01 00:00:00
851 results found
Searching from 1943-01-01 00:00:00 to 1944-01-01 00:00:00
None results found
Searching from 1944-01-01 00:00:00 to 1945-01-01 00:00:00
759 results found
Searching from 1945-01-01 00:00:00 to 1946-01-01 00:00:00
754 results found
Searching from 1946-01-01 00:00:00 to 1947-01-01 00:00:00
1149 results found
Searching from 1947-01-01 00:00:00 to 1948-01-01 00:00:00
1148 results found
Searching from 1948-01-01 00:00:00 to 1949-01-01 00:00:00
1018 results found
Searching from 1949-01-01 00:00:00 to 1950-01-01 00:00:00
948 results found
Searching from 1950-01-01 00:00:00 to 1951-01-01 00:00:00
None results found
Searching from 1951-01-01 00:00:00 to 1952-01-01 00:00:00
1307 results found
Searching from 1952-01-01 00:00:00 to 1953-01-01 00:00:00
1060 results found
Searching from 1953-01-01 00:00:00 to 1954-01-01 00:00:00
951 results found
Searching from 1954-01-01 00:00:00 to 1955-01-01 00:00:00
907 results found
Searching from 1955-01-01 00:00:00 to 1956-01-01 00:00:00
1035 results found
Searching from 1956-01-01 00:00:00 to 1957-01-01 00:00:00
941 results found
Searching from 1957-01-01 00:00:00 to 1958-01-01 00:00:00
1068 results found
Searching from 1958-01-01 00:00:00 to 1959-01-01 00:00:00
919 results found
Searching from 1959-01-01 00:00:00 to 1960-01-01 00:00:00
1119 results found
Search Results Summary:
    term start_date   count
0   suit 1942-01-01   851.0
1   suit 1943-01-01     NaN
2   suit 1944-01-01   759.0
3   suit 1945-01-01   754.0
4   suit 1946-01-01  1149.0
5   suit 1947-01-01  1148.0
6   suit 1948-01-01  1018.0
7   suit 1949-01-01   948.0
8   suit 1950-01-01     NaN
9   suit 1951-01-01  1307.0
10  suit 1952-01-01  1060.0
11  suit 1953-01-01   951.0
12  suit 1954-01-01   907.0
13  suit 1955-01-01  1035.0
14  suit 1956-01-01   941.0
15  suit 1957-01-01  1068.0
16  suit 1958-01-01   919.0
17  suit 1959-01-01  1119.0

In [10]:
start_date = pd.to_datetime("1960-01-01")
end_date = pd.to_datetime("1990-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    df5 = pd.DataFrame(results)
print("Search Results Summary:")
print(df5)

Searching from 1960-01-01 00:00:00 to 1961-01-01 00:00:00
1022 results found
Searching from 1961-01-01 00:00:00 to 1962-01-01 00:00:00
1100 results found
Searching from 1962-01-01 00:00:00 to 1963-01-01 00:00:00
946 results found
Searching from 1963-01-01 00:00:00 to 1964-01-01 00:00:00
807 results found
Searching from 1964-01-01 00:00:00 to 1965-01-01 00:00:00
766 results found
Searching from 1965-01-01 00:00:00 to 1966-01-01 00:00:00
762 results found
Searching from 1966-01-01 00:00:00 to 1967-01-01 00:00:00
626 results found
Searching from 1967-01-01 00:00:00 to 1968-01-01 00:00:00
580 results found
Searching from 1968-01-01 00:00:00 to 1969-01-01 00:00:00
535 results found
Searching from 1969-01-01 00:00:00 to 1970-01-01 00:00:00
442 results found
Searching from 1970-01-01 00:00:00 to 1971-01-01 00:00:00
534 results found
Searching from 1971-01-01 00:00:00 to 1972-01-01 00:00:00
600 results found
Searching from 1972-01-01 00:00:00 to 1973-01-01 00:00:00
613 results found
Searching from 1973-01-01 00:00:00 to 1974-01-01 00:00:00
292 results found
Searching from 1974-01-01 00:00:00 to 1975-01-01 00:00:00
304 results found
Searching from 1975-01-01 00:00:00 to 1976-01-01 00:00:00
318 results found
Searching from 1976-01-01 00:00:00 to 1977-01-01 00:00:00
None results found
Searching from 1977-01-01 00:00:00 to 1978-01-01 00:00:00
238 results found
Searching from 1978-01-01 00:00:00 to 1979-01-01 00:00:00
289 results found
Searching from 1979-01-01 00:00:00 to 1980-01-01 00:00:00
603 results found
Searching from 1980-01-01 00:00:00 to 1981-01-01 00:00:00
387 results found
Searching from 1981-01-01 00:00:00 to 1982-01-01 00:00:00
390 results found
Searching from 1982-01-01 00:00:00 to 1983-01-01 00:00:00
443 results found
Searching from 1983-01-01 00:00:00 to 1984-01-01 00:00:00
519 results found
Searching from 1984-01-01 00:00:00 to 1985-01-01 00:00:00
488 results found
Searching from 1985-01-01 00:00:00 to 1986-01-01 00:00:00
476 results found
Searching from 1986-01-01 00:00:00 to 1987-01-01 00:00:00
555 results found
Searching from 1987-01-01 00:00:00 to 1988-01-01 00:00:00
445 results found
Searching from 1988-01-01 00:00:00 to 1989-01-01 00:00:00
410 results found
Searching from 1989-01-01 00:00:00 to 1990-01-01 00:00:00
None results found
Search Results Summary:
    term start_date   count
0   suit 1960-01-01  1022.0
1   suit 1961-01-01  1100.0
2   suit 1962-01-01   946.0
3   suit 1963-01-01   807.0
4   suit 1964-01-01   766.0
5   suit 1965-01-01   762.0
6   suit 1966-01-01   626.0
7   suit 1967-01-01   580.0
8   suit 1968-01-01   535.0
9   suit 1969-01-01   442.0
10  suit 1970-01-01   534.0
11  suit 1971-01-01   600.0
12  suit 1972-01-01   613.0
13  suit 1973-01-01   292.0
14  suit 1974-01-01   304.0
15  suit 1975-01-01   318.0
16  suit 1976-01-01     NaN
17  suit 1977-01-01   238.0
18  suit 1978-01-01   289.0
19  suit 1979-01-01   603.0
20  suit 1980-01-01   387.0
21  suit 1981-01-01   390.0
22  suit 1982-01-01   443.0
23  suit 1983-01-01   519.0
24  suit 1984-01-01   488.0
25  suit 1985-01-01   476.0
26  suit 1986-01-01   555.0
27  suit 1987-01-01   445.0
28  suit 1988-01-01   410.0
29  suit 1989-01-01     NaN

In [12]:
start_date = pd.to_datetime("1989-01-01")
end_date = pd.to_datetime("2022-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    df6 = pd.DataFrame(results)
print("Search Results Summary:")
print(df6)

Searching from 1989-01-01 00:00:00 to 1990-01-01 00:00:00
556 results found
Searching from 1990-01-01 00:00:00 to 1991-01-01 00:00:00
538 results found
Searching from 1991-01-01 00:00:00 to 1992-01-01 00:00:00
491 results found
Searching from 1992-01-01 00:00:00 to 1993-01-01 00:00:00
362 results found
Searching from 1993-01-01 00:00:00 to 1994-01-01 00:00:00
383 results found
Searching from 1994-01-01 00:00:00 to 1995-01-01 00:00:00
445 results found
Searching from 1995-01-01 00:00:00 to 1996-01-01 00:00:00
510 results found
Searching from 1996-01-01 00:00:00 to 1997-01-01 00:00:00
340 results found
Searching from 1997-01-01 00:00:00 to 1998-01-01 00:00:00
482 results found
Searching from 1998-01-01 00:00:00 to 1999-01-01 00:00:00
292 results found
Searching from 1999-01-01 00:00:00 to 2000-01-01 00:00:00
228 results found
Searching from 2000-01-01 00:00:00 to 2001-01-01 00:00:00
358 results found
Searching from 2001-01-01 00:00:00 to 2002-01-01 00:00:00
336 results found
Searching from 2002-01-01 00:00:00 to 2003-01-01 00:00:00
261 results found
Searching from 2003-01-01 00:00:00 to 2004-01-01 00:00:00
232 results found
Searching from 2004-01-01 00:00:00 to 2005-01-01 00:00:00
232 results found
Searching from 2005-01-01 00:00:00 to 2006-01-01 00:00:00
268 results found
Searching from 2006-01-01 00:00:00 to 2007-01-01 00:00:00
206 results found
Searching from 2007-01-01 00:00:00 to 2008-01-01 00:00:00
377 results found
Searching from 2008-01-01 00:00:00 to 2009-01-01 00:00:00
367 results found
Searching from 2009-01-01 00:00:00 to 2010-01-01 00:00:00
220 results found
Searching from 2010-01-01 00:00:00 to 2011-01-01 00:00:00
300 results found
Searching from 2011-01-01 00:00:00 to 2012-01-01 00:00:00
192 results found
Searching from 2012-01-01 00:00:00 to 2013-01-01 00:00:00
271 results found
Searching from 2013-01-01 00:00:00 to 2014-01-01 00:00:00
161 results found
Searching from 2014-01-01 00:00:00 to 2015-01-01 00:00:00
128 results found
Searching from 2015-01-01 00:00:00 to 2016-01-01 00:00:00
119 results found
Searching from 2016-01-01 00:00:00 to 2017-01-01 00:00:00
87 results found
Searching from 2017-01-01 00:00:00 to 2018-01-01 00:00:00
92 results found
Searching from 2018-01-01 00:00:00 to 2019-01-01 00:00:00
68 results found
Searching from 2019-01-01 00:00:00 to 2020-01-01 00:00:00
85 results found
Searching from 2020-01-01 00:00:00 to 2021-01-01 00:00:00
55 results found
Searching from 2021-01-01 00:00:00 to 2022-01-01 00:00:00
34 results found
Search Results Summary:
    term start_date  count
0   suit 1989-01-01    556
1   suit 1990-01-01    538
2   suit 1991-01-01    491
3   suit 1992-01-01    362
4   suit 1993-01-01    383
5   suit 1994-01-01    445
6   suit 1995-01-01    510
7   suit 1996-01-01    340
8   suit 1997-01-01    482
9   suit 1998-01-01    292
10  suit 1999-01-01    228
11  suit 2000-01-01    358
12  suit 2001-01-01    336
13  suit 2002-01-01    261
14  suit 2003-01-01    232
15  suit 2004-01-01    232
16  suit 2005-01-01    268
17  suit 2006-01-01    206
18  suit 2007-01-01    377
19  suit 2008-01-01    367
20  suit 2009-01-01    220
21  suit 2010-01-01    300
22  suit 2011-01-01    192
23  suit 2012-01-01    271
24  suit 2013-01-01    161
25  suit 2014-01-01    128
26  suit 2015-01-01    119
27  suit 2016-01-01     87
28  suit 2017-01-01     92
29  suit 2018-01-01     68
30  suit 2019-01-01     85
31  suit 2020-01-01     55
32  suit 2021-01-01     34

In [13]:
women_lf = pd.concat([women_in_suits, df2, df3, df4, df5, df6], ignore_index=True)
women_lf.to_csv('women_labour.csv', index=False)

In [14]:
women_lf

     term start_date  count
0    suit 1900-01-01  372.0
1    suit 1901-01-01  311.0
2    suit 1902-01-01  374.0
3    suit 1903-01-01  524.0
4    suit 1904-01-01  578.0
..    ...        ...    ...
134  suit 2017-01-01   92.0
135  suit 2018-01-01   68.0
136  suit 2019-01-01   85.0
137  suit 2020-01-01   55.0
138  suit 2021-01-01   34.0

[139 rows x 3 columns]

In [15]:
start_date = pd.to_datetime("1976-01-01")
end_date = pd.to_datetime("1977-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    d76 = pd.DataFrame(results)
print("Search Results Summary:")
print(d76)

Searching from 1976-01-01 00:00:00 to 1977-01-01 00:00:00
None results found
Search Results Summary:
   term start_date count
0  suit 1976-01-01  None

In [16]:
start_date = pd.to_datetime("1919-01-01")
end_date = pd.to_datetime("1920-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    d = pd.DataFrame(results)
print("Search Results Summary:")
print(d)

Searching from 1919-01-01 00:00:00 to 1920-01-01 00:00:00
None results found
Search Results Summary:
   term start_date count
0  suit 1919-01-01  None

In [ ]:
start_date = pd.to_datetime("1943-01-01")
end_date = pd.to_datetime("1944-01-01")

term = "suit"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=1)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    df = pd.DataFrame(results)
print("Search Results Summary:")
print(df)

In [ ]:
suits 
dress
workwear
productivity
shoulderpads

In [18]:
start_date = pd.to_datetime("1900-01-01")
end_date = pd.to_datetime("2022-01-01")

term = "skirt"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=10)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    skirt = pd.DataFrame(results)
print("Search Results Summary:")
print(skirt)

Searching from 1900-01-01 00:00:00 to 1910-01-01 00:00:00
7877 results found
Searching from 1910-01-01 00:00:00 to 1920-01-01 00:00:00
11311 results found
Searching from 1920-01-01 00:00:00 to 1930-01-01 00:00:00
9087 results found
Searching from 1930-01-01 00:00:00 to 1940-01-01 00:00:00
6169 results found
Searching from 1940-01-01 00:00:00 to 1950-01-01 00:00:00
7675 results found
Searching from 1950-01-01 00:00:00 to 1960-01-01 00:00:00
9984 results found
Searching from 1960-01-01 00:00:00 to 1970-01-01 00:00:00
7765 results found
Searching from 1970-01-01 00:00:00 to 1980-01-01 00:00:00
6415 results found
Searching from 1980-01-01 00:00:00 to 1990-01-01 00:00:00
6368 results found
Searching from 1990-01-01 00:00:00 to 2000-01-01 00:00:00
4468 results found
Searching from 2000-01-01 00:00:00 to 2010-01-01 00:00:00
None results found
Searching from 2010-01-01 00:00:00 to 2020-01-01 00:00:00
3442 results found
Searching from 2020-01-01 00:00:00 to 2030-01-01 00:00:00
411 results found
Search Results Summary:
     term start_date    count
0   skirt 1900-01-01   7877.0
1   skirt 1910-01-01  11311.0
2   skirt 1920-01-01   9087.0
3   skirt 1930-01-01   6169.0
4   skirt 1940-01-01   7675.0
5   skirt 1950-01-01   9984.0
6   skirt 1960-01-01   7765.0
7   skirt 1970-01-01   6415.0
8   skirt 1980-01-01   6368.0
9   skirt 1990-01-01   4468.0
10  skirt 2000-01-01      NaN
11  skirt 2010-01-01   3442.0
12  skirt 2020-01-01    411.0

In [19]:
skirt.to_csv('skirt_df.csv', index=False)

In [20]:
lf = pd.concat([skirt, women_lf], ignore_index=True)
lf.to_csv('lf_df.csv', index=False)

In [21]:
lf

      term start_date    count
0    skirt 1900-01-01   7877.0
1    skirt 1910-01-01  11311.0
2    skirt 1920-01-01   9087.0
3    skirt 1930-01-01   6169.0
4    skirt 1940-01-01   7675.0
..     ...        ...      ...
147   suit 2017-01-01     92.0
148   suit 2018-01-01     68.0
149   suit 2019-01-01     85.0
150   suit 2020-01-01     55.0
151   suit 2021-01-01     34.0

[152 rows x 3 columns]

In [24]:
start_date = pd.to_datetime("2000-01-01")
end_date = pd.to_datetime("2010-01-01")

term = "skirt"

def make_term_search(driver, term, start_date, end_date):
    url = f"https://archive.vogue.com/search?QueryTerm={term}&startDate={start_date}&endDate={end_date}"
    driver.get(url)

def get_count(driver):
    count_elements = driver.find_elements(By.CLASS_NAME, "count")
    if not count_elements:
        return None
    count_text = count_elements[0].text
    count = int(count_text.split("(")[1].split(")")[0])
    return count


increment = pd.DateOffset(years=10)
results = []
current_date = start_date

os.makedirs("vogue_resource_dump", exist_ok=True)

while current_date < end_date:
    next_date = current_date + increment
    print(f"Searching from {current_date} to {next_date}")

    make_term_search(driver, term, current_date.strftime("%Y-%m-%d"), next_date.strftime("%Y-%m-%d"))

    count = get_count(driver)
    print(f"{count} results found")

    with open(f"vogue_resource_dump/{term}_{current_date.strftime('%Y-%m-%d')}_{next_date.strftime('%Y-%m-%d')}.html", "w") as f:
        f.write(driver.page_source)

    results.append({
        "term": term,
        "start_date": current_date,
        "count": count
    })

    current_date = next_date

    # Sleep to avoid detection, ensuring non-negative sleep length
    sleep_duration = max(0, np.random.normal(1, 0.5))
    time.sleep(sleep_duration)

    skirt2 = pd.DataFrame(results)
print("Search Results Summary:")
print(skirt2)

Searching from 2000-01-01 00:00:00 to 2010-01-01 00:00:00
5300 results found
Search Results Summary:
    term start_date  count
0  skirt 2000-01-01   5300

In [25]:
s1 = pd.concat([skirt, skirt2], ignore_index=True)
s1.to_csv('skirt_df.csv', index=False)

In [26]:
s1

     term start_date    count
0   skirt 1900-01-01   7877.0
1   skirt 1910-01-01  11311.0
2   skirt 1920-01-01   9087.0
3   skirt 1930-01-01   6169.0
4   skirt 1940-01-01   7675.0
5   skirt 1950-01-01   9984.0
6   skirt 1960-01-01   7765.0
7   skirt 1970-01-01   6415.0
8   skirt 1980-01-01   6368.0
9   skirt 1990-01-01   4468.0
10  skirt 2000-01-01      NaN
11  skirt 2010-01-01   3442.0
12  skirt 2020-01-01    411.0
13  skirt 2000-01-01   5300.0

In [27]:
import pandas as pd

# Convert start_date to datetime
lf['start_date'] = pd.to_datetime(lf['start_date'])

# Extract the decade
lf['decade'] = (lf['start_date'].dt.year // 10) * 10

# Group by term and decade, summing the counts
decade_grouped = lf.groupby(['term', 'decade'], as_index=False)['count'].sum()

# Rename the 'decade' column back to 'start_date'
decade_grouped = decade_grouped.rename(columns={'decade': 'start_date'})

# Convert 'start_date' back to the desired format (YYYY-01-01)
decade_grouped['start_date'] = decade_grouped['start_date'].apply(lambda x: f"{x}-01-01")

# Display the result
print(decade_grouped)

     term  start_date    count
0   skirt  1900-01-01   7877.0
1   skirt  1910-01-01  11311.0
2   skirt  1920-01-01   9087.0
3   skirt  1930-01-01   6169.0
4   skirt  1940-01-01   7675.0
5   skirt  1950-01-01   9984.0
6   skirt  1960-01-01   7765.0
7   skirt  1970-01-01   6415.0
8   skirt  1980-01-01   6368.0
9   skirt  1990-01-01   4468.0
10  skirt  2000-01-01      0.0
11  skirt  2010-01-01   3442.0
12  skirt  2020-01-01    411.0
13   suit  1900-01-01   4413.0
14   suit  1910-01-01   6493.0
15   suit  1920-01-01   5437.0
16   suit  1930-01-01   6563.0
17   suit  1940-01-01   8240.0
18   suit  1950-01-01   9307.0
19   suit  1960-01-01   7586.0
20   suit  1970-01-01   3791.0
21   suit  1980-01-01   4669.0
22   suit  1990-01-01   4071.0
23   suit  2000-01-01   2857.0
24   suit  2010-01-01   1503.0
25   suit  2020-01-01     89.0

In [28]:
decade_grouped.to_csv('lfw_df.csv', index=False)

In [29]:
url = "https://raw.githubusercontent.com/miswilson/miswilson.github.io/refs/heads/main/shoulderpads_df.csv"
shoulder_pads_df = pd.read_csv(url)
shoulder_pads_df

             Term  Start Date    End Date  Result Count
0   shoulder pads  1900-01-01  1910-01-01            32
1   shoulder pads  1910-01-01  1920-01-01            22
2   shoulder pads  1920-01-01  1930-01-01            27
3   shoulder pads  1930-01-01  1940-01-01            10
4   shoulder pads  1940-01-01  1950-01-01            86
5   shoulder pads  1950-01-01  1960-01-01            16
6   shoulder pads  1960-01-01  1970-01-01            48
7   shoulder pads  1970-01-01  1980-01-01            21
8   shoulder pads  1980-01-01  1990-01-01            69
9   shoulder pads  1990-01-01  2000-01-01            97
10  shoulder pads  2000-01-01  2010-01-01           113
11  shoulder pads  2010-01-01  2020-01-01            22
12  shoulder pads  2020-01-01  2030-01-01             3

In [30]:
trend_df_sss = pd.concat([decade_grouped, shoulder_pads_df], ignore_index=True)

In [31]:
trend_df_sss

,term,start_date,count,Term,Start Date,End Date,Result Count
0,skirt,1900-01-01,7877.0,NaN,NaN,NaN,NaN
1,skirt,1910-01-01,11311.0,NaN,NaN,NaN,NaN
2,skirt,1920-01-01,9087.0,NaN,NaN,NaN,NaN
3,skirt,1930-01-01,6169.0,NaN,NaN,NaN,NaN
4,skirt,1940-01-01,7675.0,NaN,NaN,NaN,NaN
5,skirt,1950-01-01,9984.0,NaN,NaN,NaN,NaN
6,skirt,1960-01-01,7765.0,NaN,NaN,NaN,NaN
7,skirt,1970-01-01,6415.0,NaN,NaN,NaN,NaN
8,skirt,1980-01-01,6368.0,NaN,NaN,NaN,NaN
9,skirt,1990-01-01,4468.0,NaN,NaN,NaN,NaN
10,skirt,2000-01-01,0.0,NaN,NaN,NaN,NaN
11,skirt,2010-01-01,3442.0,NaN,NaN,NaN,NaN
12,skirt,2020-01-01,411.0,NaN,NaN,NaN,NaN
13,suit,1900-01-01,4413.0,NaN,NaN,NaN,NaN
14,suit,1910-01-01,6493.0,NaN,NaN,NaN,NaN
15,suit,1920-01-01,5437.0,NaN,NaN,NaN,NaN
16,suit,1930-01-01,6563.0,NaN,NaN,NaN,NaN
17,suit,1940-01-01,8240.0,NaN,NaN,NaN,NaN
18,suit,1950-01-01,9307.0,NaN,NaN,NaN,NaN
19,suit,1960-01-01,7586.0,NaN,NaN,NaN,NaN
20,suit,1970-01-01,3791.0,NaN,NaN,NaN,NaN
21,suit,1980-01-01,4669.0,NaN,NaN,NaN,NaN
22,suit,1990-01-01,4071.0,NaN,NaN,NaN,NaN
23,suit,2000-01-01,2857.0,NaN,NaN,NaN,NaN
24,suit,2010-01-01,1503.0,NaN,NaN,NaN,NaN
25,suit,2020-01-01,89.0,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,shoulder pads,1900-01-01,1910-01-01,32.0
27,NaN,NaN,NaN,shoulder pads,1910-01-01,1920-01-01,22.0
28,NaN,NaN,NaN,shoulder pads,1920-01-01,1930-01-01,27.0
29,NaN,NaN,NaN,shoulder pads,1930-01-01,1940-01-01,10.0
30,NaN,NaN,NaN,shoulder pads,1940-01-01,1950-01-01,86.0
31,NaN,NaN,NaN,shoulder pads,1950-01-01,1960-01-01,16.0
32,NaN,NaN,NaN,shoulder pads,1960-01-01,1970-01-01,48.0
33,NaN,NaN,NaN,shoulder pads,1970-01-01,1980-01-01,21.0
34,NaN,NaN,NaN,shoulder pads,1980-01-01,1990-01-01,69.0
35,NaN,NaN,NaN,shoulder pads,1990-01-01,2000-01-01,97.0
36,NaN,NaN,NaN,shoulder pads,2000-01-01,2010-01-01,113.0
37,NaN,NaN,NaN,shoulder pads,2010-01-01,2020-01-01,22.0
38,NaN,NaN,NaN,shoulder pads,2020-01-01,2030-01-01,3.0

In [32]:
url = "https://raw.githubusercontent.com/miswilson/miswilson.github.io/refs/heads/main/shoulderpads_df.csv"
shoulderpads_df = pd.read_csv(url)

shoulderpads_df.rename(columns={
    "Term": "term",
    "Start Date": "start_date",
    "Result Count": "count"
}, inplace=True)

shoulderpads_df = shoulderpads_df[["term", "start_date", "count"]]

shoulderpads_df['count'] = shoulderpads_df['count'].fillna(0)

shoulderpads_df['term'] = shoulderpads_df['term'].str.strip().str.title()

shoulderpads_df['start_date'] = pd.to_datetime(shoulderpads_df['start_date'])

print(shoulderpads_df.head())

            term start_date  count
0  Shoulder Pads 1900-01-01     32
1  Shoulder Pads 1910-01-01     22
2  Shoulder Pads 1920-01-01     27
3  Shoulder Pads 1930-01-01     10
4  Shoulder Pads 1940-01-01     86

In [33]:
trend_df_sss = pd.concat([decade_grouped, shoulderpads_df], ignore_index=True)
trend_df_sss

             term           start_date    count
0           skirt           1900-01-01   7877.0
1           skirt           1910-01-01  11311.0
2           skirt           1920-01-01   9087.0
3           skirt           1930-01-01   6169.0
4           skirt           1940-01-01   7675.0
5           skirt           1950-01-01   9984.0
6           skirt           1960-01-01   7765.0
7           skirt           1970-01-01   6415.0
8           skirt           1980-01-01   6368.0
9           skirt           1990-01-01   4468.0
10          skirt           2000-01-01      0.0
11          skirt           2010-01-01   3442.0
12          skirt           2020-01-01    411.0
13           suit           1900-01-01   4413.0
14           suit           1910-01-01   6493.0
15           suit           1920-01-01   5437.0
16           suit           1930-01-01   6563.0
17           suit           1940-01-01   8240.0
18           suit           1950-01-01   9307.0
19           suit           1960-01-01   7586.0
20           suit           1970-01-01   3791.0
21           suit           1980-01-01   4669.0
22           suit           1990-01-01   4071.0
23           suit           2000-01-01   2857.0
24           suit           2010-01-01   1503.0
25           suit           2020-01-01     89.0
26  Shoulder Pads  1900-01-01 00:00:00     32.0
27  Shoulder Pads  1910-01-01 00:00:00     22.0
28  Shoulder Pads  1920-01-01 00:00:00     27.0
29  Shoulder Pads  1930-01-01 00:00:00     10.0
30  Shoulder Pads  1940-01-01 00:00:00     86.0
31  Shoulder Pads  1950-01-01 00:00:00     16.0
32  Shoulder Pads  1960-01-01 00:00:00     48.0
33  Shoulder Pads  1970-01-01 00:00:00     21.0
34  Shoulder Pads  1980-01-01 00:00:00     69.0
35  Shoulder Pads  1990-01-01 00:00:00     97.0
36  Shoulder Pads  2000-01-01 00:00:00    113.0
37  Shoulder Pads  2010-01-01 00:00:00     22.0
38  Shoulder Pads  2020-01-01 00:00:00      3.0

In [34]:
shoulderpads_df.rename(columns={
    "Term": "term",
    "Start Date": "start_date",
    "Result Count": "count"
}, inplace=True)

# Remove the time part from 'start_date' if it exists
shoulderpads_df['start_date'] = pd.to_datetime(shoulderpads_df['start_date']).dt.date

shoulderpads_df['term'] = shoulderpads_df['term'].str.strip().str.title()

shoulderpads_df['count'] = shoulderpads_df['count'].fillna(0)


print(shoulderpads_df.head())

            term  start_date  count
0  Shoulder Pads  1900-01-01     32
1  Shoulder Pads  1910-01-01     22
2  Shoulder Pads  1920-01-01     27
3  Shoulder Pads  1930-01-01     10
4  Shoulder Pads  1940-01-01     86

In [36]:
trend_df_sss = pd.concat([decade_grouped, shoulderpads_df], ignore_index=True)
trend_df_sss .to_csv('sssdf.csv', index=False)